$constrained-bp-tablet: '700px';
$constrained-bp-desktop: '1025px';

html {

}

body {
  max-width: 1600px;
  margin: 0 auto;
}

.constrained {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: $constrained-bp-tablet) {
    padding: 0 40px;
    &.slim {
      padding: 0 20px;
    }
  }
  @media screen and (min-width: $constrained-bp-desktop) {
    padding: 0 100px;
    &.slim {
      padding: 0 50px;
    }
  }
}

section.content-wrapper {
  background: $light;
  padding: 30px;
}

.elementor-page section.content-wrapper {
  padding: 0;
}

@media screen and (min-width: $constrained-bp-desktop) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  header.header {
    width: 275px;
    height: auto;
    .constrained {
      padding: 0;
    }
    .wrapper {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
    }
    .menu-button {
      display: none;
    }
    .book-now-button {
      position: relative;
      left: auto;
    }
    .nav-contact-wrapper {

    }
    .nav-main ul li {
      display: block;
    }
  }
  section.content-wrapper {
    width: calc(100% - 275px);
    box-sizing: border-box;
    border: 10px solid white;
    border-left: none;
    display: flex;
    flex-direction: column;
  }
  .main-footer {
    margin-top: auto;
  }
}

.base-content {
  background: White;
}

.article-content {
  overflow: hidden;
}

// Use this class to prevent child elements from pushing margins outward
.text-wrapper {
  margin-top: -1px;
  padding-top: 1px;
  margin-bottom: -1px;
  padding-bottom: 1px;
}


// Figures and Captions

.wp-caption,
img,
figure {
  max-width: 100%;
  height: auto;
  width: auto;
}
.wp-caption,
.wp-caption img {
  width: auto !important;
}

img[src=""] {
  display: none;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  position: relative;
  color: $black;
  font-family: $headline-font;
  font-weight: 400;
  font-size: 12px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

figcaption::before {
  position: absolute;
  content: "↑";
  left: 10px;
}
