// Typefaces
$headline-font: 'Work Sans'; //400, 700
$body-font: 'Bitter'; //400, 400i, 700
$handwritten: 'Nothing You Could Do';

// Colors
$black: #333;
$accent: #5ed5a1;
$light: #eeeeee;
$accent-dark: #1a4f52;
$accent-medium: #246b65;
