.nav-contact-wrapper {
	padding-left: 40px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all .2s 0s ease;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 20px;
  overflow: auto;
  font-family: $secondary-headline-font;
  font-weight: 600;
	letter-spacing: .04em;
  transform: translateY(-20px);

	.nav-main {
		margin-bottom: 40px;
	}

  ul > li {
    a {
      // color: white;
      text-decoration: none;
      font-size: 2rem;
    }
  }
  ul a {
    display: block;
    padding: 10px 0;
		color: $green;
    &:hover {
      // color: $accent;
    }
  }
  .menu-item-has-children {
		margin-bottom: 10px;
    li a {
      font-size: 1.4rem;
      padding: 5px 0;
      padding-left: 20px;
      position: relative;
      &:before {
        content: "-";
        position: absolute;
        left: 1px;
      }
    }
  }
	.contact-header a {
		font-size: 12px;
		color: $green;
		font-weight: 400;
		text-decoration: none;
	}
	.phone-number {
		margin-bottom: 8px;
	}
	.address {
		margin-bottom: 35px;
	}
	.social-links a {
    font-size: 26px;
    margin-right: 11px;
		color: $light-green;
	}

	@media screen and (min-width: 1025px) {
    text-align: left;
		visibility: visible;
	  pointer-events: all;
	  opacity: 1;
	  transition: all .2s 0s ease;
	  position: relative;
	  top: auto;
	  left: auto;
	  right: auto;
	  bottom: auto;
	  overflow: visible;
	  transform: translateY(0);
		padding: 0;
		margin: 0;
		width: 100%;
		.contact-header a {
			color: $light;
		}
		.social-links a {
			color: $light-tan;
		}
		.nav-main {
			margin-top: 30px;
			padding-bottom: 30px;
			margin-bottom: 20px;
			border-bottom: 1px solid $light-green;
		}
		ul > li {
			display: inline-block;
	    a {
	      // color: $accent;
	      text-decoration: none;
	      font-size: 14px;
	    }
	  }
	  ul a {
	    display: inline-block;
	    padding: 10px;
			letter-spacing: .03em;
			color: $light-tan;
	    &:hover {
	      // color: $accent;
	    }
	  }
    .menu-item-has-children {
			margin-bottom: 0;
			position: relative;
			&:after {
				letter-spacing: 0;
    		line-height: 3px;
				cursor: pointer;
				content: "+";
				background: $pink;
				position: absolute;
				right: 0;
				top: 0;
				color: $tan;
				transition: transform .15s ease;
				width: 30px;
				height: 30px;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&.open {
				&:after {
					content: "-";
					line-height: 1px;
					letter-spacing: -2px;
					transform: rotate(360deg);
				}
			}
			> ul {
				display: none;
				position: relative;
				top: 100%;
				left: 0;
				width: 100%;
				text-align: left;
				padding: 10px;
				padding-top: 0;
				box-sizing: border-box;
			}
			li a:before {
      	display: none;
			}
			li {
				display: block;
			}
			li a {
				font-size: .8em;
				padding: 7px 0;
				font-weight: 400;
				padding-left: 10px;
				position: relative;
				display: block;
				letter-spacing: .03em;
			}
    }
  }
}

.nav-open {
  .nav-contact-wrapper {
    transform: translateY(0);
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: all .2s .2s ease;
  }
}
