.main-footer {
	padding: 30px;
	background-color: $light-green;
	color: $light-tan;
	line-height: 1.6em;

	.copyright-information {
		margin-top: 30px;
	}

	.endorsement-logos {
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		flex-basis: 200px;
		margin-right: 30px;
		.endorsement-logo {
			margin-bottom: 20px;
			padding: 0 10px;
			display: block;
			width: 100%;
			height: auto;
			width: 200px;
			&:nth-child(1) {
				width: 100px;
			}
			&:nth-child(3) {
				width: 170px;
			}
		}
		@media screen and (min-width: 580px) {
			justify-content: flex-start;
			.endorsement-logo {
					margin-bottom: 0;
			}
		}
	}
}
