$header-height-mobile: 125px;
$header-height-tablet: 125px;
$header-breakpoint: 600px;

.transparent-header {
  .header-placeholder {
    display: none;
  }
  .site-header {
    background: transparent;
  }
}

.header-placeholder {
  height: $header-height-mobile;
  @media screen and (min-width: $header-breakpoint) {
    height: $header-height-tablet;
  }
}

.site-header {
  background: white;
  box-sizing: border-box;
  // transition: all .5s ease;
  height: $header-height-mobile;
  @media screen and (min-width: $header-breakpoint) {
    height: $header-height-tablet;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
  }

  .book-now-button {
    display: none;
  }

  &.nav-open {
    .book-now-button {
      display: block;
      position: absolute;
      right: 20px;
      top: 100px;
    }
  }

  @media screen and (min-width: 485px) {
    .wrapper {
      justify-content: space-around;
    }
    .book-now-button {
      display: block;
      position: absolute;
      left: 20px;
    }
    .menu-button {
      position: absolute;
      right: 20px;
    }
    &.nav-open {
      .book-now-button {
        display: block;
        position: absolute;
        right: auto;
        top: auto; 
      }
    }
  }

  .logo-link {
    display: block;
    width: 150px;
    height: 150px;
    padding: 18px;
    margin-right: 0;
    margin-top: 20px;
    border-radius: 100%;
    background: white;
    svg .st0 {
			fill: $wine;
		}
  }

  .nav-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background: white;
    transition: all .4s ease;
  }
  .wrapper {
    .nav-background {
      z-index: 1;
    }
    .nav-main {
      z-index: 2
    }
    > * {
      z-index: 3;
    }
  }
  &.nav-open .wrapper {
    .nav-background {
      bottom: 0;
    }
  }
	@media screen and (min-width: 1025px) {
		background: transparent;
		.nav-background {
			display: none;
		}
		.logo-link {
			padding: 0;
			width: 160px;
			height: 160px;
			margin-bottom: 40px;
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
			background: transparent;
			svg .st0 {
				fill: $light-tan;
			}
		}
		.book-now-button {
			width: 100%;
			text-align: center;
		}
	}
}

body > .header {
	z-index: 3;
	position: relative;
}

@media screen and (min-width: 1025px) {
	body > .header {
		background: $wine;
		box-shadow: 0 0 12px rgba(0,0,0,.35);
		z-index: 2;
	}
}
